<!DOCTYPE html>
<html>
<head>
    <title>Market Trade Processor</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.basepath }}assets/css/app.css" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ app.request.basepath }}assets/js/jquery-2.1.3.min.js"></script>
        <script src="{{ app.request.basepath }}assets/js/google.chart.js"></script>
        <script type="text/javascript">
            var messageStatisticApp = {};
            messageStatisticApp.data = {{ currencyPairs|raw }};
            google.load("visualization", "1", {packages:["geochart"]});
        </script>
        <script src="{{ app.request.basepath }}assets/js/app.js"></script>
    {% endblock %}
</head>
<body>
<div class="sidebar">
    <div id="currencies">
        <ul></ul>
    </div>
</div>
<div class="container">
    <h1 class="text-center">Trade Messages Statistic By Countries</h1>
    <div id="regions_div" style="width: 900px; height: 400px;"></div>
</div>
</body>
</html>